<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!--===========================
    PLUGIN CSS
    ===============================-->

    <link rel="stylesheet" href="css/plugin/bootstrap.min.css">
    <link rel="stylesheet" href="css/plugin/font-awesome.min.css">
    <link rel="stylesheet" href="css/plugin/AdminLTE.min.css">
    <link rel="stylesheet" href="css/plugin/blue.css">
     
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <!--===========================
    PLUGIN JS
    ===============================-->

    <script src="js/plugin/jquery.min.js"></script>
    <script src="js/plugin/bootstrap.min.js"></script>

</head>
    
<body class="hold-transition login-page">
    <div class="login-box">

        <div class="login-logo">
            <a href="#"><b>Admin</b>LTE</a>
        </div>

        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>

            <form action="" method="post">

                <div class="form-group has-feedback">
                    <input type="email" class="form-control" placeholder="Email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>

                <div class="row">
                    <div class="col-xs-offset-8 col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Ingresar</button>
                    </div>
                </div>

            </form>

        </div>

    </div>


</body>
</html>